:root {
  --transition-speed: 600ms;
}

html {
  scroll-behavior: smooth;
}

.basic-btn {
  margin-left: auto;
  margin-right: auto;
}

.search-btn:hover {
  box-shadow: 0 0 6px rgba(255, 0, 0, 1);
  transition: var(--transition-speed);
}

.search-box:hover {
  box-shadow: 0 0 6px rgba(255, 0, 0, 1);
  transition: var(--transition-speed);
}

.profile-btn:hover {
  box-shadow: 0 0 6px rgba(255, 0, 0, 1);
  transition: var(--transition-speed);
}

.up-file-dp {
  width: 100%;
  margin-bottom: 20px;
  padding: 10px;
  background-color: #fff09d;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: var(--transition-speed);
}

.up-file-dp:hover {
  width: 100%;
  margin-bottom: 20px;
  padding: 10px;
  box-shadow: 0 0 6px rgba(35, 173, 278, 1);
}

.up-file-btn {
  width: 100%;
  padding: 5px;
  color: rgb(0, 0, 0);
  background-color: #ff8e8e;
  box-shadow: 0 2px 8px 4px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: var(--transition-speed);
}

.up-file-btn:hover {
  width: 100%;
  padding: 5px;
  box-shadow: 0 0 6px rgba(35, 173, 278, 1);
}

.profile-tab {
  padding: 10px;
  background-color: white;
  color: black;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  transition: var(--transition-speed);
  text-decoration: none;
}

.profile-tab:hover {
  padding: 10px;
  background-color: rgb(255, 141, 141);
  color: black;
  text-decoration: none;
}

.profile-tab-active {
  padding: 10px;
  background-color: rgb(168, 0, 101);
  color: rgb(255, 255, 255);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  transition: var(--transition-speed);
  text-decoration: none;
}

.profile-tab-active:hover {
  text-decoration: none;
}

.profile-tab-list {
  padding: 10px;
  background-color: white;
  margin: 5px;
  border: 1px solid rgb(154, 154, 154);
  border-radius: 5px;
  transition: var(--transition-speed);
}

.profile-tab-list:hover {
  padding: 10px;
  background-color: rgb(255, 180, 226);
  color: black;
  margin: 5px;
  border: 1px solid rgb(154, 154, 154);
  border-radius: 5px;
}

.time-text {
  font-style: italic;
  color: gray;
  font-size: 12px;
}

.up-file-dp {
  width: 100%;
  margin-bottom: 20px;
  padding: 10px;
  background-color: #ffbbbe;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: var(--transition-speed);
}

.up-file-dp:hover {
  width: 100%;
  margin-bottom: 20px;
  padding: 10px;
  box-shadow: 0 0 6px rgba(35, 173, 278, 1);
}

.content-text {
  font-weight: bold;
}

.blog-edit-a {
  padding: 10px;
  color: black;
  background-color: white;
  transition: var(--transition-speed);
  margin: 20px;
  font-weight: bold;
}

.blog-edit-a:hover {
  background-color: rgb(255, 128, 232);
}

.del-btn {
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
  color: white;
  background-color: red;
  border: 2px solid black;
  margin: 10px;
  width: 100px;
  transition: var(--transition-speed);
}

.del-btn:hover {
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
  color: white;
  background-color: rgb(125, 2, 2);
  border: 2px solid rgb(43, 0, 255);
  margin: 10px;
  width: 100px;
  transition: var(--transition-speed);
}

.test {
  color: rgb(255, 103, 103);
}

.like-btn {
  background-color: aliceblue;
  padding: 10px;
  border-radius: 15px;
  border: 1px solid rgb(255, 0, 191);
  transition: var(--transition-speed);
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.like-btn:hover {
  border: 1px solid rgb(102, 0, 255);
  box-shadow: 0 0 6px rgba(35, 173, 278, 1);
}
